@font-face {
  font-family: icomoon;
  font-weight: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("../fonts/icomoon.woff") format('woff'), url("../fonts/icomoon.ttf") format('truetype'), url("../fonts/icomoon.svg#icomoon") format('svg');
}

@font-face {
  font-family: DINBOLD;
  font-weight: normal;
  src: url("../fonts/dinbold-webfont.eot");
  src: url("../fonts/dinbold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/dinbold-webfont.woff") format('woff'), url("../fonts/dinbold-webfont.ttf") format('truetype'), url("../fonts/dinbold-webfont.svg#dinbold-webfont") format('svg');
}

@font-face {
  font-family: DINREGULAR;
  font-weight: normal;
  src: url("../fonts/pt_din_condensed_cyrillic-webfont.eot");
  src: url("../fonts/pt_din_condensed_cyrillic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pt_din_condensed_cyrillic-webfont.woff") format('woff'), url("../fonts/pt_din_condensed_cyrillic-webfont.ttf") format('truetype'), url("../fonts/pt_din_condensed_cyrillic-webfont.svg#pt_din_condensed_cyrillic-webfont") format('svg');
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

figure,
header,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

figure,
header,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100vh;
}

body {
  height: 100vh;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
p,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h2 {
  font-family: "Oswald";
  font-size: 2.25rem;
  color: amarillo;
  text-transform: uppercase;
  text-align: center;
}

.blue {
  background-color: #315884;
  padding: 2rem 1rem;
}

.btn {
  background-color: #315884;
  padding: 0.8rem 1.8rem;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
}

.btn.btn__contact {
  display: inline-block;
  text-transform: uppercase;
  background-color: #ffb400;
  margin-top: 1rem;
}

.btn.btn__menuMob {
  background-color: transparent;
  font-size: 1.8rem;
}

header {
  background-color: rgba(0,0,0,0.6);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header .menu-mobile {
  display: none;
}

header .menu-mobile ul {
  color: #fff;
}

header .menu-mobile ul li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid #fff;
}

header .menu-mobile ul li:last-of-type {
  border-bottom: 0;
}

header .menu-mobile ul a {
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 24px;
}

section {
  text-align: center;
}

section .two__mainTitle {
  text-align: center;
  color: #315884;
}

section .preamble {
  color: #315884;
  font-size: 18px;
}

section .intro {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

section .tablet {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section .full-width .preamble {
  font-size: 24px;
  color: #fff;
}
