@import 'fonts.styl'
@import 'normalize.styl'
@import 'buble.styl'
@import 'nib'


//Colores
blue= #315884
yellow = #ffb400
gray = #f0f0f0

//OOCSS

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

alinear()
	display inline-block
	vertical-align top
rem(pixel)
	(pixel/16)rem
html
	font-size: 16px
	height 100vh
	
body
	height 100vh
	font-family "Montserrat"
a
	text-decoration none
img
	max-width 100%
	height auto
ul
p
figure
	margin 0
	padding 0
ul
	list-style none
h2
	font-family "Oswald"
	font-size: rem(36)
	color amarillo
	text-transform: uppercase
	text-align: center
h1
	font-family "Oswald"
	font-size: rem(40)
	padding-top 2rem
	padding-bottom 2rem
	background-color rgba(0, 0, 0, .75)
	margin-top 0
	text-align center
	color white
	text-transform: capitalize
	font-weight: 700

.blue
	background-color: blue
	padding 2rem 1rem
	
.btn
	background-color rgb(49,88,132)
	padding .8rem 1.8rem
	border-radius 0
	color white
	&.btn__contact
		display inline-block
		text-transform: uppercase
		background-color: yellow
		margin-top 1rem
	&.btn__menuMob
		background-color transparent
		font-size 1.8rem

header
	background-color rgba(0,0,0,.6)
	padding-top 1rem
	padding-bottom 1rem
	.menu-mobile
		display none
		ul
			color white
			li
				padding-top 1rem
				padding-bottom 1rem
				text-align: center
				border-bottom 1px solid white
				&:last-of-type
					border-bottom 0
			a
				color white
				text-transform: uppercase
				display block
				font-size: 24px

section
	text-align: center
	.two__mainTitle
		text-align: center
		color blue
	.preamble
		color blue
		font-size: 18px
	.intro
		margin-top: 1rem
		margin-bottom 3rem
		padding-left: 1rem
		padding-right: 1rem
	.tablet
		padding-top: 1rem
		padding-bottom 1rem
	.full-width
		.preamble
			font-size: 24px
			color white