@import 'fonts.styl'
@import 'normalize.styl'
@import 'nib'


//Colores
blue= #315884
yellow = #ffb400
gray = #f0f0f0

//OOCSS

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

alinear()
	display inline-block
	vertical-align top
rem(pixel)
	(pixel/16)rem
html
	font-size: 16px
	height 100vh
	
body
	height 100vh
	font-family "Montserrat"
a
	text-decoration none
img
	max-width 100%
	height auto
ul
p
figure
	margin 0
	padding 0
ul
	list-style none
h2
	font-family "bebasBook"
	font-size: rem(36)
	color amarillo
	text-transform: uppercase
	text-align: center
h1
	font-family "bebasBook"
	font-size: rem(48)
	padding-top 2rem
	margin-top 0
	text-align center
	color white
	text-transform: capitalize

.blue
	background-color: blue
	padding 2rem 1rem
.gray
	background-color: #444
.center
	text-align: center
	
.btn
	background-color rgb(49,88,132)
	padding .8rem 1.8rem
	border-radius 0
	color white
	&.btn__contact
		display inline-block
		text-transform: uppercase
		background-color: yellow
		margin-top 1rem
	&.btn__menuMob
		background-color transparent
		font-size 1.8rem
		padding .5rem
		transition all .8s ease

header
	background-color rgba(0,0,0,.6)
	padding-bottom 1rem
	padding-top 1rem
	position fixed
	top 0
	width 100%
	z-index 999
	transition all .8s ease
	.menu
		font-family: "bebasBook"
		text-align: right
		padding-top: .5rem
		li
			alinear()
			margin-right: .8rem
			&:last-child
				margin-right 0
		a
			color white
			font-size: 24px
			text-decoration: none
			transition all .8s ease
			&:hover
				color yellow
	.logo
		img
			transition all .8s ease
	&.smaller
		padding-top: .7rem
		padding-bottom: .7rem
		.logo
			img
				max-width 150px
		.btn__menuMob
			font-size 1rem
		.menu
			a
				font-size: 18px
	.menu-mobile
		display none
		ul
			color white
			li
				padding-top .7rem
				padding-bottom .7rem
				text-align: center
				border-bottom 1px solid white
				&:last-of-type
					border-bottom 0
			a
				color white
				text-transform: uppercase
				display block
				font-size: 20px
				font-family: "bebasBook"
.home-mob
	background-image: url("../img/banner-home-mobile.jpg")
	padding-top 4rem
	padding-bottom: 4rem
	text-align: center
	color white
	.yellow
		color yellow
		font-size: rem(20)
	.inner
		padding-left: 1rem
		padding-right: 1rem
.slider
	.slide
		.inner
			position relative
			.container-fluid
				position absolute
				left 0
		.text
			text-align: left
			h1
				text-align: left
				margin-bottom: 0
			h6
				color yellow
			.content
				color white
	.similarH1
		text-transform: uppercase
		font-family: "bebasBook"
		color white

section
	text-align: center
	.two__mainTitle
		text-align: center
		color blue
	.preamble
		color blue
		font-size: 18px
	.intro
		margin-top: 1rem
		margin-bottom 3rem
		padding-left: 1rem
		padding-right: 1rem
	.tablet
		padding-top: 1rem
		padding-bottom 1rem
	.full-width
		.preamble
			font-size: 24px
			color white
	.prices-mob
		background-image url("../img/prices-mobile.jpg")
		color white
		padding-top 3rem
		padding-bottom: 3rem
		background-attachment fixed
		.inner
			padding-left: 1rem
			padding-right: 1rem
		h4
			font-family: "bebasBook"
			text-transform: uppercase
			font-size: 2rem
	.carousel
		.bx-wrapper
			padding 3rem 0
			.bx-prev
			.bx-next
				background-color transparent
				text-indent 0 !important
				visibility hidden
				opacity .5
				text-decoration none
				&:before
					font-family: "fontawesome"
					content:"\f053"
					visibility visible
					font-size: 1.8rem
			.bx-next
				&:before
					content "\f054"
			.bx-viewport
				box-shadow 0 0 5px transparent
				border 0
		.bxslider
			margin 0

footer
	text-align: center
	padding-top .8rem
	padding-bottom: .8rem
	color gray
	.contact-info
		padding-top 1rem
		padding-bottom 1rem
		a
			color gray
			&:hover
				color yellow
				text-decoration none


@media(min-width:768px)
	section
		.tablet
			padding-top: 0
			padding-bottom: 0
	.slider
		margin-bottom: 4rem
		.container-fluid
			bottom -2.5rem
		.text
			h1
				font-size: 2rem
			h6
				font-size: 1rem
			.content
				font-size: .8rem
		.similarH1
			font-size: 34px

@media(min-width:992px)
	.inner
		max-width rem(940)
		margin-left: auto
		margin-right auto
	.slider
		margin-bottom: 2.1rem
		.container-fluid
			bottom -1.4rem
		.text
			h1
				font-size: rem(48)
			h6
				font-size: 26px
		.similarH1
			font-size: 48px
